<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row mt-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>User ID</th>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Body</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *infoFor="let i of list">
                                <td>{{i.userId}}</td>
                                <td>{{i.id}}</td>
                                <td>{{i.title}}</td>
                                <td>{{i.body}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>